/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* 
{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

html {
    overflow-x:hidden;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Custom styles */

@font-face{
    font-family: PTSerif;
    src:url(../fonts/PTSerif.ttc);
    font-family: PtSans;
    src:url(../fonts/PTSans.ttc);
    font-family: Ubuntu Medium;
    src:url(../fonts/Ubuntu Medium.ttf);
    font-family: Ubuntu Bold;
    src:url(../fonts/Ubuntu Bold.ttf);
}
h2{
    font-family: Ubuntu Bold;
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
}
.wrapper{
    width: 1600px;
    height: auto;
    margin: 0 auto;
}
.social{
    margin: 300px 0 0 70px; 
    /* position: relative;
    top:300px;
    left:70px;  */
}
.social a{
    width: 15px;
    display: block;
    margin-bottom: 30px;
    font-size:20px;
}
.socialblack a{
    color:#505356;
}
.socialwhite a{
    color:white;
}

/* FIRST BLOCK */
.logo{
    z-index: 666;
    background: url(../img/logo.png) no-repeat;
    background-position: left top;
    position: relative;
    top:-186px;
    left:554px;
    height: 248px;
}
.mainMenu{
    text-transform: uppercase;
    list-style: none;
    width: 535px;
    margin:0 auto;
    height:14px;
    padding-top:50px;
}
.mainMenu li{

    color: #3b3d40;
    float: left;
    margin-right: 85px;
}
.mainMenu li:last-of-type{
    margin-right: 0;
}
.mainMenu li a{
    font-family: Ubuntu Bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #3b3d40;
}

#one{
    background: url(../img/Ariadna_2_2.jpg) no-repeat;
    margin-bottom: 169px;
    /*height: 1px;*/    
}
.mouseIcon{
    height:60px;
    width: 38px;
    margin:255px auto 0;
    background: url(../img/mouse.png)  no-repeat;
}
.form{
    display: block;
    width: 1012px;
    margin: 35px auto 0;
}
.form a{
    text-transform: uppercase;
    font-family: Ubuntu Bold;
    font-size: 20px;
    margin:0 auto 45px;
    text-align: center;
    display: block;
    width: 346px;
    height: 60px;
    line-height:60px;
    background-color: black;
    color: white;
}
.form input{
    font-family: PtSans;
    font-size:18px;
    width: 300px;
    height: 56px;
    color:#505356;
    background-color: #eef0f1;
    border-width: 0;
    border-radius: 7px;
    padding-left:25px;
    margin-right: 10px;
}
.form input:last-of-type{
   /* padding:0;*/
    margin-right: 0;
}
/* SECOND BLOCK */

#two{
    background: url(../img/Photo_1.jpg) no-repeat;
    height: 900px;
}
.centraltext{
    line-height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Ubuntu Bold;
    color: white;
    width: 870px;
    height: 190px;
    margin:0 auto;
    padding-top: 270px;
    font-size:27px;
    text-align: center;
}

form .error{
    border:1px solid red;
    color:red;
}

.advantages{
    width:1340px;
    height: 140px;
    margin:104px auto;
   
}

.advantageElement{
    font-size: 20px;
    margin-right: 120px;
    color:white;
    float: left;
    padding-top: 90px;
     text-align: center;

}

.advantageElement:last-of-type{
    margin-right: 0;

}

#firstadvantage{
    background: url(../img/advatageicon1.png) no-repeat;
    background-position: center top;
}
#secondadvantage{
    background: url(../img/advatageicon2.png) no-repeat;
    background-position: center top;
}
#thirdadvantage{
    background: url(../img/advatageicon3.png) no-repeat;
    background-position: center top;
}
#fourthadvantage{
    background: url(../img/advatageicon4.png) no-repeat;
    background-position: center top;
}
#fifthadvantage{
    background: url(../img/advatageicon5.png) no-repeat;
    background-position: center top;
}


/* 3 block */
#three{
    text-align: center;
    margin-bottom:190px;
}

.header2{
    font-size: 34px;
    margin-top:160px;
    margin-bottom: 100px;
}
.social2{
    float: left;
    margin: 120px 60px 0 70px;
 /*    width: 20px; */
}
.social2 a{
    width: 15px;
    display: block;
    margin-bottom: 30px;
    font-size:20px;
}
.curatori{
   /*  width:1440px; */
    margin:0 auto;
}
.curatorElement{
    margin-right: 59px;
    float: left;
    width:310px;
}
.curatorElement:hover{
    cursor: pointer;
}
.curatori div:last-of-type{
   /*  width:1440px; */
    margin:0;
}
.curatorProfession{
    font-family: PTSerif;
    font-size:17px;
}
.curatorName{
    margin-top:15px;
    font-family: Ubuntu Medium;
    font-size:28px;
}

#firstCurator{
    height: 321px;
    background: url(../img/courator1.jpg) no-repeat;
}
#secondCurator{
    height: 321px;
    background: url(../img/courator2.jpg) no-repeat;
}
#thirdCurator{
    height: 321px;
    background: url(../img/courator3.jpg) no-repeat;
}
#fourthCurator{
    height: 321px;
    background: url(../img/courator4.jpg) no-repeat;
}

/* 9 block */
#nine{
    height: 230px;
    background-color: black;
    text-transform: uppercase;
    color:#808080;
    text-align: center;
}
.footerlogo{
    height:64px;
    background: url(../img/Logo_footer.png) no-repeat;
    background-position: center;
}
.empty{
    height:68px;
}
.copyright{
    margin-top:36px;
}

/* 4 block */
#four{
    background: url(../img/438A3185_1_2.jpg) no-repeat; 
    height:817px; 
}
.social4{
   /*  margin: 300px 0 0 70px;  */
    position: relative;
    top:300px;
    left:70px; 
}
.social4 a{
    width: 15px;
    display: block;
    margin-bottom: 30px;
    font-size:20px;
}
.textContainer1{
    width:648px;
    position: relative;
    top:-63px;
    left:790px;
    color:white;
}
.texttype1{
    font-family: PtSerif Regular;
    font-size: 52pt;
    line-height: 70px;
    margin-bottom: 60px;
}
.texttype2{
    font-family: Ubuntu Medium;
    font-size: 16pt;
}
.quotes{
    margin-bottom: 60px;
    margin-left:25px;
}

/* 5 block */

#five{
    height:250px;
}
.brandwrapper{
    margin:0 auto;
    width:1570px;
}
.brand{
    margin:180px 80px 180px 0;
    float:left;
    /*margin-right:80px;*/
    height:64px;
    width:250px;
}
#five div:last-of-type{
    margin-right:0;

}
#logo1{
    background: url(../img/brand1.png) no-repeat center center;
}
#logo2{
    background: url(../img/brand2.png) no-repeat center center;;
}
#logo3{
    background: url(../img/brand3.png) no-repeat center center;;
}
#logo4{
    background: url(../img/brand4.png) no-repeat center center;;
}
#logo5{
    background: url(../img/brand5.png) no-repeat center center;;
}

/* 6 block */

.leftblock{
    float:left;
}
.rightblock{
    float:left;
}
#leftbigblock{
    width:1000px;
    height:1000px;
}
.leftimage1{
    width:525px;
    height:700px;
    background: url(../img/magazine1.jpg) no-repeat top center;
}
#smallright1{
    margin:131px 0 0 79px;
    width:297px;
    float: left;
}
.rightimage1{
    width:297px;
    height:395px;
    background: url(../img/magazine2.jpg) no-repeat top center;
}
.bottomText{

}
.bottomText h3 {
    font-family:Ubuntu Medium

}
.magazineName{
    font-family: PTSerif Regular;
}
#smalleft1{
    margin-bottom: 74px;
}
#smalleft2{
    margin-right: 70px;
}
.leftimage2{
    width:279px;
    height:391px;
    background: url(../img/magazine3.jpg) no-repeat top center;
}
.rightimage2{
    width:511px;
    height:704px;
    background: url(../img/magazine4.jpg) no-repeat top center;
}
#columnimage1{
    width:406px;
    height:530px;
    background: url(../img/magazine5.jpg) no-repeat top center;
}
#columnimage2{
    width:489px;
    height:334px;
    background: url(../img/magazine6.jpg) no-repeat top center;
}
#columnimage3{
    width:390px;
    height:524px;
    background: url(../img/magazine7.jpg) no-repeat top center;
}
.sixblockimage{
    margin-bottom:35px;
}

#rightcolimnblock2{
    margin-bottom:56px;
}
#six{
    height: 1800px;
}

/* 7 block */


#seven{
    height:1200px;
    background: url(../img/studio.jpg) no-repeat;
}
/* .opacity7{
    background-color: #000; Чёрный фон
    height: 1200px; Высота максимальна
    opacity: 0.37; Степень прозрачности
    width: 100%; Ширина максимальна
   z-index: 100; Заведомо быть НАД другими элементами
} */
.button{
    cursor:pointer;
    text-transform: uppercase;
    font-family: Ubuntu Bold;
    font-size: 20px;
    margin:0 auto 45px;
    text-align: center;
    width: 346px;
    height: 60px;
    line-height:60px;
    background-color: black;
    color: white;
}
.whitestudio{
    height:58px;
    width: 161px;
    background: url(../img/whitestudio.png) no-repeat;
}